@import "../variables";
@import "show";
@import "section";

#companies_list{

  text-align: center;
  margin:0;

  ul{
    width: 75%;
    margin: 0 auto;
  }

  li{margin-top: 30px;}

  h2{line-height: 3rem;}
}

#new_company_btn{
  padding-left: 20px;
  display: flex;
  justify-content: right;
}

.new_company_form_position{
  @media screen and (max-width:450px) {
    left:5%;
    max-width:90%;
  }

  @media screen and (min-width:451px) and (max-width:500px){left:10%;}
  @media screen and (min-width:501px) and (max-width:550px){left:13%;}
  @media screen and (min-width:551px) and (max-width:600px){left:16%;}
  @media screen and (min-width:601px) and (max-width:650px){left:19%;}
  @media screen and (min-width:651px) and (max-width:700px){left:21%;}
  @media screen and (min-width:701px) and (max-width:761px){left:24%;}
}
