@import "../variables";
@import "show";

#companies_list{

  text-align: center;
  margin:0;

  ul{
    width: 75%;
    margin: 0 auto;
  }

  li{
    margin-top: 30px;
  }
}

#new_company_btn{
  padding-left: 20px;
}

#new_company_form{
  z-index: 2;
  position: absolute;
  top:200px;
}

@media screen and (max-width:363px) {
  #company_create_button{letter-spacing: 1px;}
}

@media screen and (max-width:450px) {
  #new_company_form{
    left:5%;
    max-width:90%;
  }
}

@media screen and (min-width:451px) and (max-width:500px){
  #new_company_form{left:10%;}
}
@media screen and (min-width:501px) and (max-width:550px){
  #new_company_form{left:13%;}
}
@media screen and (min-width:551px) and (max-width:600px){
  #new_company_form{left:16%;}
}
@media screen and (min-width:601px) and (max-width:650px){
  #new_company_form{left:19%;}
}
@media screen and (min-width:651px) and (max-width:700px){
  #new_company_form{left:21%;}
}
@media screen and (min-width:701px) and (max-width:761px){
  #new_company_form{left:24%;}
}
