#payslips_index_link{

  display: block;
  background-color: $light-bleuvert;
  width: 50%;
  height:30px;
  line-height: 30px;
  margin:0 auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 4px 8px 3px $grey200-opacity25;
  text-transform: uppercase;
  color: black;
  transition: all 0.15s;
  font-size: 1rem;

  &:hover{
    background-color: $bleuvert;
    color: white;
  }
}

#company_show_performances_section ul{
  display: flex;
  flex-wrap: wrap;
}

.company_new_performance form{

  margin: 10px;
  height: 200px;
  background-color: $light-bleuvert;
  border: 1px solid $bleuvert;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px $grey200-opacity25;

  input{
    line-height: 25px;
    background-color: white;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    margin: 3px 0;
  }

  input:current{
    border:none;
  }

  input:hover{
    border: 2px solid $light-bleuvert;
    transition: all 0.5s;
  }
}

#company_show_employees_section li{margin: 20px;}
