<div class="banner">
  <div class="container">
    <h1><strong>Cachetons</strong> <small>(version de démo)</small></h1>
    <p>Pour gérer la paie des intermittents du spectacle.</p>
    <%= link_to "Se connecter", companies_path, class: "btn btn-flat" %>
  </div>
</div>
