.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2ea39d;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(92, 230, 223);
  color: white;
}
