.create_button{
  border: 1px solid $bleuvert;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:$bleuvert;
  transition: all 0.2s;

  &:hover{
    background-color: $bleuvert;
    border-radius: 5px;
    color: white;
  }

}
.company_letter_spacing{
  @media screen and (max-width:363px) {letter-spacing: 1px;}
}

.payslip_letter_spacing{
  @media screen and (max-width:363px) {white-space: normal;}
}
