
.new_form{
  background-color:$grey250;
  border : 1px solid $grey200;
  padding:20px;
  box-shadow: 5px 5px 5px $bleuvert-opacity50;
  border-radius: 5px;
  color: $bleuvert;
  text-transform: uppercase;
  text-overflow: ellipsis;

  .required input, .optional input{
    line-height: 30px;
    background-color: white;
    border: 1px solid $grey200;
    border-radius: 5px;
    padding:0;
  }
}

.new_form_absolute{
  z-index: 2;
  position: absolute;
}
