$bleuvert : #2ea39d;
$bleuvert-opacity75 : rgba(46, 163, 157, 0.75);
$bleuvert-opacity50 : rgba(46, 163, 157, 0.50);
$light-bleuvert :rgb(117, 212, 208);
$ultralight-bleuvert : rgb(250, 255, 255);
$grey250: rgb(250, 250, 250);
$grey200: rgb(200, 200, 200);
$grey150: rgb(150, 150, 150);
$grey200-opacity25: rgba(200, 200, 200, 0.25);
$red: rgb(235, 72, 72);

$secondary_font : 'Prompt', serif;
$primary_font : 'Arvo', serif;
